################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Infrastructure/FileContentIndex
/.vs/Infrastructure/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
